* @choffmann @green-ecolution/frontend-maintainers

.github/** @green-ecolution/devops
.docker/** @green-ecolution/devops
.dockerignore @green-ecolution/devops
flake.* @green-ecolution/devops

frontend/** @green-ecolution/frontend-maintainers
backend-client/** @green-ecolution/frontend-maintainers
plugin-interface/** @green-ecolution/frontend-maintainers
.node-version @green-ecolution/frontend-maintainers
.prettier* @green-ecolution/frontend-maintainers
package.json @green-ecolution/frontend-maintainers
yarn.lock @green-ecolution/frontend-maintainers
